
.showcase-wrapper{
    
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 4fr;    
}
.showcase-grid{
    height: 40vh;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;    
}



.showcase-pannel{
    height: 100%;
}

.showcase-image{
    width: 100%;

}


.showcase-button {
    max-height: 100%;
    padding: 45% 45% 45% 45%;
    color: black;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.showcase-button:hover{
    background-color: rgba(0, 136, 169, 0.7);
}
